
<div class="card">
    <h4 class="card-header text-center font-weight-bold py-4">Customers</h4>
<table class="table table-sm table-hover table-secondary">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Company</th>
            <th scope="col">Select</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i = index">
            <td>{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.company }}</td>
            <td><button type="button" class="btn btn-outline-success" (click)="selectCustomer(customer)">Select</button></td>
            <td><button type="button" class="btn btn-outline-primary" (click)="editCustomer(customer)">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger" (click)="deleteCustomer(customer, i)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
