
    
  <div class="container">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="active"> Sign In </h2>
        <!-- <app-alert [message]="error" *ngIf="error"></app-alert> -->
        <form [formGroup]="loginForm">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="login">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
          <div class="alert alert-danger" *ngIf="error"> 
            <p>{{ error }}</p>
          </div>
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="onUserSubmit()">
        </form>
        <div id="formFooter">
        </div>
    
      </div>
    </div>
  </div>

