input {
	max-width: 50%;
	padding: 12px 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

input:focus {
	background-color: lightblue;
}

button {
	width: 50%;
	margin-bottom: 100px;
}
 label {
	 color: whitesmoke;
 }

h2 {
	text-align: center;
	color: whitesmoke;
	margin-bottom: 40px;
}

.container {
	margin-top: 10%;
	padding: 20px;
}



