
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
    
       
    
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" (keyup)="onKeyEmail($event)">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" (keyup)="onKeyPass($event)">
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="onUserSubmit()">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>

    <button class="btn btn-success" (click)="isAuth()"></button>