
<!-- <h1 *ngIf="payments">Table of Payments</h1>
<hr> -->

<div class="card">
    <h4 class="card-header text-center font-weight-bold py-4">Payments</h4>
<table class="table table-sm table-hover table-secondary">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Type</th>
            <th scope="col">Id</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments; let i = index">
            <td>{{ payment.name }}</td>
            <td>{{ payment.value }}</td>
            <td>{{ payment.type }}</td>
            <td>{{ payment.id }}</td>
            <td><button type="button" class="btn btn-outline-danger" (click)="deletePayment($event, payment)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>

<!-- <button class="btn btn-primary" (click)="getPayments()" *ngIf="!payments">Show Payments</button>
<button class="btn btn-secondary" (click)="payments=!payments" *ngIf="payments">Hide Payments</button> -->
